annotated-doc
annotated-types
anyio
black
click
exceptiongroup
fastapi
h11
idna
mypy_extensions
packaging
pathspec
platformdirs
pydantic
pydantic_core
sniffio
starlette
tomli
typing_extensions
uvicorn
gradio
plotly
pandas
python-dotenv
langchain-core
langchain-openai
langgraph